# Konfigurasi Port Server (Default: 3001)
PORT=3001

# URL Koneksi Database PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/urunankita?schema=public"

# Kunci Rahasia JWT (Minimal 32 karakter untuk produksi)
JWT_SECRET="ganti-dengan-string-rahasia-jwt-urunankita-minimal-32-karakter"

# Durasi Masa Berlaku Token JWT (Default: 7d)
JWT_EXPIRES_IN="7d"
